/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
	height: 2em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 100ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #343efbaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(1) .logo {
		animation: logo-spin infinite 10s linear;
	}
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.page {
	height: 99.9vh;
	width: 99.9vw;
	border: 2px solid red;
	position: relative;
}

.image-page {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.content-register {
}
.footer {
	position: absolute;
	bottom: 0rem;
	left: 0rem;
	background-color: #1c1818;
	width: 100%;
}
.name {
	color: rgb(125, 189, 253);
	font-weight: bolder;
}

.by {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}

.content-form {
	display: flex;
	max-width: 600px;
	padding: 15px;
	margin: 60px 10px 30px 10px;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
}
input {
	/* display: inline-block; */
	width: 42%;
	padding: 10px;
	color: white;
	background-color: transparent;
	outline: 1.5px solid white;
	border: 1.5px solid white;
	border-radius: 4px;
}

@media screen and (max-width: 900px) {
	input {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.content {
		width: 90%;
	}
}
button {
	background-color: red;
	color: #1c1818;
	padding: 7px;
	text-align: center;
	width: 100%;
	border-radius: 4px;
	border: none;
	outline: none;
	font-size: 18px;
	color: #1c1818;
	cursor: pointer;
}

::placeholder {
	color: #faeaea97;
}

.title {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);

	h2 {
		font-size: 45px;
	}
}
